@charset "utf-8";

.inner {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 0 auto;
}
h2,.h2-work{
  font-size: 40px;
  letter-spacing: 10px;
}

/* header */
header {
  background: #fff;
  position:sticky;
  top:0;
  z-index: 999
}
.nav-header {
  padding-left: 25px;
  padding-right: 25px;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.fas {
  color: #777;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  }

.button {
color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
  transition: 0.3s;
}
.button:hover{
  background: #333;
}

.hamburger-icon{
display: none;
}
/* MAIN VISUAL */
.keyvisual {
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 400px;
  padding-bottom: 400px;
}
.main-title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7ab;
  text-align: center;
}
.sub-title {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
}

/* WORK */
.work {
  background: #e3f2fd;
  padding-top: 50px;
}

.inner-works {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.work-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-img img{
  width: 250px;
}

.h2-work {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}
p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

/* SKILLS */
.skills {
  padding-top: 50px;
  padding-bottom: 70px;
  background: #fff;
  text-align: center;
}

.inner-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin-top: 50px;
}

li{
  list-style:none;
}
.skill-img img {
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: .7s;
}
.skill-img img:hover{
  opacity: 1;
}

/* SELECT PLAN */
.plan {
  background: #d0dfea;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

table{
  border-collapse: collapse;
  border: none;
  width: 100%;
  vertical-align: baseline;
  background: #f9f9f9;
  margin-top: 50px;
}
thead {
  background: #6ba7eb;
  border-right: 2px solid #fff;
}
tr,th,td{
  padding: 10px 10px;
  border-right: 2px solid #fff;
  font-size: 16px;
  line-height: 26px;
}

thead,tr,th,td:last-child {
  border-right: none;
}
tr:nth-child(even){
  background: #e0efff;
}

/* SNS */
.sns {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #e3f2fd;
  text-align: center;
}
.fab,.fa-solid {
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  width: 185px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  transition: 0.5s;
}
.fab:hover,.fa-solid:hover {
  background-color:  #fff;
}
/* footer */
footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background: #cfd8dc;
}
.p-footer{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}

/* TAB ブレイクポイント　1199px以下 */
@media screen and (max-width: 960px) {
.keyvisual {
  padding-top: 250px;
  padding-bottom: 250px;
}
.work {
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.inner-works {
  display: block;
}
.inner-skills {
  display: block;
}
li:nth-of-type(3n){
  margin-bottom: 80px;
}

li:last-child{
  margin-bottom: 0px;
}

th{
  font-size: 14px;
  line-height: 22px;
}
td{
  font-size: 12px;
}
}

/* SP　ブレイクポイント　767px以下 */
@media screen and (max-width: 767px) {

.button{
  display: none;
}

.hamburger{
  position: relative;
  height: 46px;
  width: 46px;
  border: 2px solid #8c8c8c;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
}
.hamburger-bar {
  display: block;
  left: 7px;
  height: 2px;
  width: 28px;
  position: absolute;
  background: #8c8c8c;
  display: inline-block;
  box-sizing: border-box;
}
.hamburger-bar:nth-child(1){
  bottom: 30px;
}
.hamburger-bar:nth-child(2){
  bottom: 20px;
}
.hamburger-bar:nth-child(3){
  bottom: 10px;
}

.keyvisual {
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-title {
  font-size: 40px;
}
.sub-title {
  font-size: 30px;
}
.sns {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e3f2fd;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.fab,.fa-solid {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
}
